<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisableGuestAccount</key>
	<true/>
	<key>EnableGuestAccount</key>
	<false/>
	<key>dontAllowFDEDisable</key>
	<true/>
	<key>forceInternetSharingOff</key>
	<true/>
	<key>timeServer</key>
	<string>time.apple.com</string>
</dict>
</plist>
