<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
                <key>features</key>
                <dict>
                    <key>scheduledScan</key>
                    <string>enabled</string>
                </dict>
                <key>scheduledScan</key>
                <dict>
                    <key>ignoreExclusions</key>
                    </>
                    <key>lowPriorityScheduledScan</key>
                    </>
                    <key>randomizeScanStartTime</key>
                    <integer></integer>
                    <key>checkForDefinitionsUpdate</key>
                    </>
                    <key>runScanWhenIdle</key>
                    </>
                    <key>weeklyConfiguration</key>
                    <dict>
                        <key>dayOfWeek</key>
                        <integer>8</integer>
                        <key>scanType</key>
                        <string>full</string>
                    </dict>
                    <key>dailyConfiguration</key>
                    <dict>
                        <key>interval</key>
                        <string></string>
                    </dict>
                </dict>
    </dict>
</plist>
