<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>features</key>
    <dict>
      <key>scheduledScan</key>
      <string>enabled</string>
    </dict>
    <key>scheduledScan</key>
    <dict>
      <key>ignoreExclusions</key>
      <false />
      <key>lowPriorityScheduledScan</key>
      <true />
      <key>randomizeScanStartTime</key>
      <integer>2</integer>
      <key>checkForDefinitionsUpdate</key>
      <true />
      <key>runScanWhenIdle</key>
      <false />
      <key>dailyConfiguration</key>
      <dict>
        <key>timeOfDay</key>
        <integer>680</integer>
        <key>interval</key>
        <string>12</string>
      </dict>
      <key>weeklyConfiguration</key>
      <dict>
        <key>dayOfWeek</key>
        <integer>8</integer>
        <key>scanType</key>
        <string>full</string>
      </dict>
    </dict>
  </dict>
</plist>
